{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "useTabs": false,
  "importOrder": [
    "^dayjs/locale/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^package.json$",
    "^src/(?!assets)((?!\\.css$).)*$",
    "^(src/assets|assets)/(.*)$",
    "^(?!src)(.*)\\.css$",
    "^src/styles/(.*)\\.css$",
    "^src/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "endOfLine": "lf"
}
