.ant-layout-sider-trigger {
    color: black !important;
    background-color: #FFF !important;
    border: 2px solid #F0F0F0 !important;
}

.ant-layout-sider-trigger:hover {
    background-color: #F4F7FF !important;
}

.context-body {
    background-color: #FFF !important;
}

.context-body {
    padding: 24px;
    background-color: lightgray;
}
