.ant-layout-sider-trigger {
  color: black !important;
  background-color: #FFF !important;
  border: 2px solid #F0F0F0 !important;
}

.ant-layout-sider-trigger:hover {
  background-color: #F4F7FF !important;
}

.menu .ant-menu {
  color: #324054 !important;
}

.menu .ant-menu-item {
  color: #324054;
  margin: 0;
  width: 100%;
  height: 40px;
  border-radius: 0;
  background-color: #FFF;
}

.menu {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100% !important;
  margin-top: 40px;
  background-color: #F5F5F5;
}

.menu .ant-menu-item-selected {
  color: #324054;
  background-color: #E8EAFC;
  border-right: 3px solid #2D68FE;
}

.menu .ant-menu-item-active {
  color: #324054 !important;
  background-color: #F4F7FF !important;
}

header {
  background-color: #FFF !important;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px !important;
  padding-top: 5px !important;
  padding-left: 20px !important;
}

.context-body {
  background-color: #FFF !important;
}

.sider {
  background-color: #FFF !important;
  border-right: 2px solid #F0F0F0 !important;
}

.site-layout {
  background-color: #F4F7FF !important;
}

.titleWrapper {
  height: 32px;
  margin: 14px;
  background: rgba(255, 255, 255, 0.2);
  color: #324054;
  text-align: center;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
}

.context-body {
  padding: 24px;
  background-color: lightgray;
}